body {
    font-family: Arial,  sans-serif; /* Rodzina czcionek */
    font-size: 11px; /* Rozmiar głównej czcionki w <p></p> tag  */
    background-color: #f0f0f0; /* Kolor tła strony internetowej */
    color: #333333; /* Kolor tła strony internetowej*/ 
}
h1 {
    color: #000030; /* Kolor nagłówka */
    font-size: 24px; /* Rozmiar czcionki nagłówka */
    font-family: Georgia, serif; /* Rodzina czcionek używana w nagłówku */
}
h2 {
    color: #4f4f4f; /* Kolor nagłówka */
    font-size: 20px; /* Rozmiar czcionki nagłówka */
    font-family: Georgia, serif; /* Rodzina czcionek używana w nagłówku */
}
h3 {
    color: #313131; /* Kolor nagłówka */
    font-size: 10px; /* Rozmiar czcionki nagłówka */
    font-family: Georgia, serif; /* Rodzina czcionek używana w nagłówku */
}
p {
    font-family: Arial,  sans-serif; /* Rodzina czcionek */
    font-size: 11px; /* Rozmiar głównej czcionki w <p></p> tag  */
    background-color: #f0f0f0; /* Kolor tła strony internetowej */
    color: #333333; /* Kolor tła strony internetowej*/ 
}